__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.venv/
venv/
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.pem
node_modules/

.env
.env.local
.env.*.local
services/*/.env